@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body{
  background-color: black;
  color: white;
}
.alert-box{
  position: absolute;
  top: 0;
}